{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h3>
        Hey, welcome to the study “Personal Traits and Preferences in Spotify Music Choices”.
    </h3>

    <p class="text-justify">
        This experiment is run by David Halldorsson, Quinten Maes, Christel van den Nieuwenhuizen, LotteSap and
        Mathijs Vesters for the course Supercrunchers from the University of Technology Eindhoven,
        under the supervision of  Yu Liang, a Phd candidate from JADS RecommenderLAB.
    </p>

    <p class="text-justify">
        In this study you will be asked to complete a survey pertaining to your personality as well as
        some questions about the music you listen to on Spotify. On the next page you will first be
        asked to read and sign an informed consent form to let you know what kinds of data we will be
        gathering as well as how it will be stored, so that we can proceed with the experiment.
        After that the questionnaire will begin.
        If you have any questions or comments you can contact QuintenMaes at ​Q.Maes@student.tue.nl​ or our supervisor Yu Liang at ​y.liang1@tue.nl​.
    </p>

    <br>

    <div class="text-right">
        <a class="btn btn-primary" id="action_continue" href="/form_consent">
            Continue <i class="fas fa-arrow-right"></i>
        </a>
    </div>

{% endblock %}